@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.Column {
  width: 20vw;
  //min-height: 30vh;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  border-radius: 0.5vh;
}

.Column-fix {
  min-height: 30vh;
}

.Column h1 {
  color: #171717;
  position: relative;
  font-size: 2.5vh;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  top: 1vh;
  left: 1vw;
  margin-bottom: 3vh;
}

.Column h3 a:link, .Column h3 a:visited {
  color: #171717;
  text-decoration: none;
}

.Column .head {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.5vh 0.5vh 0 0;
  position: relative;
  width: 100%;
  height: 1vh;
}

.ticket {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  min-height: 2.5vh;
  background-color: white;
  padding: 1vh;
  border-radius: 1vh;
  margin-bottom: 4vh;
}

.ticket p {
  font-family: 'Lato', sans-serif;
  font-size: 2.3vh;
}

.ticket .profile {
  margin-top: 1.5vh;
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .Column {
    margin: auto;
    margin-top: 10vh;
    width: 80%;
  }
  .Column:first-child {
    margin-top: 0;  
  }
}