@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

#todo {
  background-color: #3D5A6C;
  position: absolute;
  top: 25vh;
  left: 3%;
}

#in-progress {
  background-color: #89B6A5;
  position: absolute;
  top: 25vh;
  left: 28%;
}

#review {
  background-color: #DD9787;
  position: absolute;
  top: 25vh;
  left: 53%;
}


#done {
  background-color: #9E7682;
  position: absolute;
  top: 25vh;
  left: 78%;
}